
<div class="slides-carousel">
    <div class="card">
        <p-carousel [value]="centers" [numVisible]="1" [numScroll]="1" [circular]="false" >
            <ng-template let-center pTemplate="item">
                <div class="border-1 surface-border border-round text-center" (click)="showcenter(center._id)">
                    <div class="carousel-item-slider">
                        <img src="{{baseurl}}{{ center.image[0]?.path }}" alt="{{center.title}}" height="500" style="
                        width: 100%;
                        object-fit: cover;
                    ">
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<h1> Liste Top Centers </h1>
<div class="slides-carousel-center">
    <div class="card">
        <p-carousel [value]="slides" [numVisible]="3" [numScroll]="3" [circular]="false" >
            <ng-template let-slide pTemplate="item">
                <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                    <div class="mb-3">
                        <img src="{{ slide.src }}" [alt]="slide.title" class="w-6 shadow-2" [width]="200" [height]="200" />
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<div class="map-centers">
    <div id="map"></div>
</div>

<h1> Liste Top Offres </h1>

<div class="slides-carousel-servise">
    <div class="card">
        <p-carousel [value]="centers" [numVisible]="3" [numScroll]="3" [circular]="false" >
            <ng-template let-slide pTemplate="item">
                <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                    <div class="mb-3">
                        <img src="{{baseurl}}{{ slide.image[0]?.path }}" [alt]="slide.title" class="w-6 shadow-2" [width]="200" [height]="200" />
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<h1> Liste Top Servise </h1>

<div class="slides-carousel">
  <div class="card">
      <p-carousel [value]="services" [numVisible]="1" [numScroll]="1" [circular]="false" >
          <ng-template let-service pTemplate="item">
              <div class="border-1 surface-border border-round text-center" (click)="showservice(service._id)">
                  <div class="carousel-item-slider">
                      <img src="{{baseurl}}{{ service.image.path }}" alt="{{service.title}}" height="500" style="
                      width: 100%;
                      object-fit: cover;
                  ">
                  </div>
              </div>
          </ng-template>
      </p-carousel>
  </div>
</div>


