.slides-carousel{
    margin-top: -30px;
    margin-left: -10.5%;
    margin-right: -10.5%;
    margin-bottom: 30px;
}

#map {
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    width: 100%;
    overflow:hidden;
}