<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form (submit)="submitForm()" #f="ngForm">
              <h1>Ajout Utilisateur</h1>

              <div class="form-group">
                <label for="firstname">Prénom</label>
                <input
                  type="text"
                  name="firstname"
                  class="form-control"
                  id="firstname"
                  #n="ngModel"
                  aria-describedby="firstname"
                  placeholder=""
                  [(ngModel)]="user.firstname"
                />

                <div class="text-danger text-capitalize" *ngIf="n.invalid && n.touched">
                  <div *ngIf="n.hasError('required')">Ce champ est obligatoire</div>
                </div>
              </div>

              <div class="form-group">
                <label for="lastname">Nom de famille</label>
                <input
                  type="text"
                  name="lastname"
                  class="form-control"
                  id="lastname"
                  #l="ngModel"
                  aria-describedby="lastname"
                  placeholder=""
                  [(ngModel)]="user.lastname"
                />
                <div class="text-danger text-capitalize" *ngIf="l.invalid && l.touched">
                  <div *ngIf="l.hasError('required')">Ce champ est obligatoire</div>
                </div>
              </div>

              <div class="form-group">
                <label for="gender">Sexe</label>
                <select class="form-select" aria-label="Gender" name="gender" id="gender" [(ngModel)]="user.gender">
                  <option value=""></option>
                  <option value="Homme">Homme</option>
                  <option value="Femme">Femme</option>
                </select>
              </div>

              <div class="form-group">
                <label for="date_birth">Date de naissance</label>
                <input
                  type="date"
                  name="date_birth"
                  class="form-control"
                  id="date_birth"
                  aria-describedby="date_birth"
                  placeholder=""
                  [(ngModel)]="user.date_birth"
                />
              </div>

              <div class="form-group">
                <label for="phone">Numéro de téléphone</label>
                <input
                  type="number"
                  name="phone"
                  class="form-control"
                  id="phone"
                  aria-describedby="phone"
                  placeholder=""
                  [(ngModel)]="user.phone"
                />
              </div>

              <div class="form-group">
                <label for="address">Adresse</label>
                <input
                  type="text"
                  name="address"
                  class="form-control"
                  id="address"
                  aria-describedby="address"
                  placeholder=""
                  [(ngModel)]="user.address"
                />
              </div>

              <div class="form-group">
                <label for="state">Pays</label>
                <input
                  type="text"
                  name="state"
                  class="form-control"
                  id="state"
                  aria-describedby="state"
                  placeholder=""
                  [(ngModel)]="user.state"
                />
              </div>

              <div class="form-group">
                <label for="city">Ville</label>
                <input
                  type="text"
                  name="city"
                  class="form-control"
                  id="city"
                  aria-describedby="city"
                  placeholder=""
                  [(ngModel)]="user.city"
                />
              </div>

              <div class="form-group">
                <label for="zip_code">Code postal</label>
                <input
                  type="number"
                  name="zip_code"
                  class="form-control"
                  id="zip_code"
                  aria-describedby="zip_code"
                  placeholder=""
                  [(ngModel)]="user.zip_code"
                />
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="email"
                  #e="ngModel"
                  aria-describedby="email"
                  placeholder=""
                  [(ngModel)]="user.email"
                />
                <div class="text-danger text-capitalize" *ngIf="e.invalid && e.touched">
                  <div *ngIf="e.hasError('required')">Ce champ est obligatoire</div>
                </div>
              </div>

              <div class="form-group">
                <label for="password">Mot de passe</label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="password"
                  #p="ngModel"
                  placeholder=""
                  [(ngModel)]="user.password"
                />
                <div class="text-danger text-capitalize" *ngIf="p.invalid && p.touched">
                  <div *ngIf="p.hasError('required')">Ce champ est obligatoire</div>
                </div>
              </div>

              <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control" id="image" name="image" (change)="onFileSelected($event)" />
              </div>
              <br />

              <div class="d-grid">
                <button type="submit" cButton color="success">Ajouter</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
