

<c-col xs>
  <c-card class="mb-4">
    <c-card-header style="display: flex; justify-content: space-between; align-items: center;">
      <span>Services</span>
      <button routerLink="/service/form"  style="background: none; border: none;">
        <i class="fa-solid fa-plus circular-button"></i>
      </button>
    </c-card-header>
    <c-card-body>
      <div class="table-container">
        <table datatable class="table table-striped" id="myTable" [attr.hover]="true" [attr.responsive]="true" [attr.striped]="true" align="middle" cTable>
          <thead cTableColor="light">
            <tr>
              <th scope="col">Service Name</th>
              <th scope="col">Description</th>
              <th scope="col">Location</th>
              <th scope="col">Date</th>
              <th scope="col" class="no-sort"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of list; index as i">
              <td>{{ service.name }}</td>
              <td class="description-cell">{{ service.description }}</td>
              <td>{{ service.location }}</td>
              <td>{{ service.date | date:'yyyy-MM-dd' }}</td>
              <td>
                <div class="d-flex justify-content-end">
                  <button (mouseover)="showServiceDetails(service)" (mouseout)="hideServiceDetails()" style="background: none; border: none;">
                    <i class="fa-solid fa-eye delete-icon"></i>
                  </button>
                  &nbsp;
                  <button (click)="deleteService(service)" style="background: none; border: none;">
                    <i class="fas fa-times delete-icon"></i>
                  </button>
                  &nbsp;
                  <button [routerLink]="['/service/update', service._id]" style="background: none; border: none;">
                    <i class="fa-solid fa-pen delete-icon"></i>
                  </button>
                  &nbsp;
                  &nbsp;
                  <div class="form-check form-switch ml-2">
                    <input class="form-check-input" type="checkbox" role="switch" (change)="toggleService(service)" [(ngModel)]="service.disable" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault" [ngClass]="{ 'switch-enabled': service.disable, 'switch-disabled': !service.disable }"></label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <c-card class="mb-4">
        <div class="service-details">
          <div *ngIf="selectedService" class="service-details">
            <div class="image-container">
              <img alt="Service Image" class="image-container" src="{{ baseurl }}{{ imageUrl }}">
            </div>
            <div class="info-container">
              <div class="info-item">
                <p class="info-label">Service Name:</p>
                <p class="info-value">{{ selectedService.name }}</p>
              </div>
              <div class="info-item">
                <p class="info-label">Service Description:</p>
                <p class="info-value">{{ selectedService.description }}</p>
              </div>
              <div class="info-item">
                <p class="info-label">Service Location:</p>
                <p class="info-value">{{ selectedService.location }}</p>
              </div>
              <div class="info-item">
                <p class="info-label">Service Date:</p>
                <p class="info-value">{{ selectedService.date | date:'yyyy-MM-dd' }}</p>
              </div>
            </div>
          </div>
        </div>
      </c-card>
    </c-card-body>
  </c-card>
</c-col>


