<div class="container">
  <div class="row justify-content-center">

      <div class="card-body">
          <div class="row justify-content-center"> <!-- Add justify-content-center class to center the row -->
            <div class="col-md-12 text-center"> <!-- Add text-center class to center the content -->
              <div class="image-container">
                <img src="{{baseurl}}{{image.path}}" alt="Image description">
              </div>
            </div>


            <div><h1 class="card-title text-center">{{service.name}}</h1></div>
              <div class="col-md-12">
                <p class="card-text">
                  {{service.description}}
                </p>
              </div>

              <div class="col-md-12">
                <p class="card-text">
                  <span class="label"><i class="fa fa-calendar"></i></span><br>
                  {{service.date | date:'yyyy-MM-dd'}}
                </p>
              </div>

              <div class="col-md-12">
                <p class="card-text">
                  <span class="label"><i class="fa fa-phone"></i></span><br>
                  {{service.phone}}
                </p>
              </div>


              <div class="col-md-12">
                <div class="col-md-12">
                  <p class="card-text">
                    <span class="label"><i class="fa fa-envelope"></i></span><br> <!-- Icon for Email using Font Awesome -->
                    {{service.email}}
                  </p>
                </div>

                <div class="col-md-12">
                  <p class="card-text">
                    <span class="label">
                      <i class="fa-sharp fa-solid fa-location-dot"></i>
                    </span><br>
                    {{service.location}}
                  </p>
                </div>

                <div class="col-md-12 text-center bottom-QrCode-container">
                  <div class="image-container">
                    <img src="{{service.qrCode}}" alt="QrCode">
                  </div>
                </div>

            <br/>

          </div>
        </div>
      </div>
