<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <div class="text-center">
          <img src="../../../../assets/img/brand/Tunivita.png" alt="Tunivita Logo" width="300">
        </div><br><br>
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form (submit)="resetPassword()">
                <h2>Forgot Password</h2>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                    [(ngModel)]="email"
                  />
                </div><br>
                <div><button type="submit" class="btn btn-primary">Send</button></div>
                <p>{{ message }}</p>

              </form>
            </c-card-body>
    </c-card>
  </c-card-group>
</c-col>
</c-row>
</c-container>
</div>
