
<div class="category-center-dropdown">
  <c-dropdown placement="bottom-start"
    variant="btn-group" class="category-parint-dropdown">
    <button cButton (click)="serchbycategory(0)">
      ALL
    </button>
  </c-dropdown>
  <c-dropdown
    *ngFor="let category of categorys; index as i"
    placement="bottom-start"
    variant="btn-group" class="category-parint-dropdown">
    <button cButton>
      {{ category.parent.title }}
    </button>
    <button cButton cDropdownToggle split>
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul cDropdownMenu>
      <li><button cDropdownItem
        *ngFor="let c of category.categorys; index as j"
        (click)="serchbycategory(c._id)" >{{c.title}}</button></li>
    </ul>
  </c-dropdown>
</div>

<form class="d-flex" role="search">
  <div class="search-container">
      <input class="form-control me-2" type="search" name="search" placeholder="Search..."
      [(ngModel)]="motcle" (input)="search()">

      </div>

        <div class="sort-container">
          <button class="sort-button" (click)="sortCentersByDate()">
            <span class="sort-icon" [class.asc]="sortOrder === 'asc'" [class.desc]="sortOrder === 'desc'"></span>
            <i class="fas fa-arrow-{{sort_direction}}-wide-short"></i>
            <!-- <i class="fa-solid fa-arrow-up-wide-short"></i> -->
          </button>
        </div>
    </form>

  <div class="card-container">
    <div class="card-wrapper">
      <div *ngFor="let center of filteredCenters | slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage"
        class="card" style="width: 18rem;">
        <div class="image-container">
          <img [src]="baseurl + center.image[0].path" class="card-img-top" alt="..." width="200px" height="300px">
        </div>

        <div class="card-body">
          <h5 class="card-title">{{ center.title }}</h5>
          <p class="card-text limited-description">{{ center.description }}</p>
          <p class="card-text"> <i class="fas fa-map-marker-alt"></i> {{ center.location }}</p>
          <div class="plus">
            <a [routerLink]="['/centers/show', center._id]"  class="button" >Voir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button class="btn btn-primary" [disabled]="currentPage === 1" (click)="currentPage = 1">First</button>
    <button class="btn btn-primary" [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1">Previous</button>
    <div class="pagination-number" *ngFor="let page of getPageNumbers()" [class.active]="currentPage === page" (click)="currentPage = page">
      {{ page }}
    </div>
    <button class="btn btn-primary" [disabled]="currentPage === totalPages" (click)="currentPage = currentPage + 1">Next</button>
    <button class="btn btn-primary" [disabled]="currentPage === totalPages" (click)="currentPage = totalPages">Last</button>
  </div>


