<c-col xs>
  <c-card class="mb-4">
    <c-card-header style="display: flex; justify-content: space-between; align-items: center;">
      <span>User List</span>
      <button [routerLink]="['/admin/user/add']" style="background: none; border: none;">
        <i class="fa-solid fa-plus circular-button"></i>
      </button>
    </c-card-header>
    <c-card-body>
      <div class="table-container">
        <table datatable class="table table-striped" id="myTable" [attr.hover]="true" [attr.responsive]="true" [attr.striped]="true" align="middle" cTable>
          <thead cTableColor="light">
            <tr>
              <th scope="col">Firstname</th>
              <th scope="col">Lastname</th>
              <th scope="col">Email</th>
              <th scope="col">Birthdate</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Gender</th>
              <th scope="col" class="no-sort"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i">
              <td>{{ user?.firstname }}</td>
              <td>{{ user?.lastname }}</td>
              <td>{{ user?.email }}</td>
              <td>{{ user?.date_birth | date:'yyyy-MM-dd' }}</td>
              <td>{{ user?.phone }}</td>
              <td>{{ user?.gender }}</td>
              <td>
                <div class="d-flex justify-content-end">
                  <button style="background: none; border: none;" [routerLink]="['userModal', user._id]">
                    <i class="fa-solid fa-eye delete-icon"></i>
                  </button>
                  &nbsp;&nbsp;
                  <button [routerLink]="['/admin/user/update', user._id]" style="background: none; border: none;">
                    <i class="fa-solid fa-pen delete-icon"></i>
                  </button>
                  &nbsp;&nbsp;
                  <div class="form-check form-switch ml-2">
                    <input class="form-check-input" type="checkbox" role="switch" (change)="toggleService(user)" [(ngModel)]="user.disable" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault" [ngClass]="{ 'switch-enabled': user.disable, 'switch-disabled': !user.disable }"></label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </c-card-body>
  </c-card>
</c-col>
<div class="chart-container">
  <canvas id="myChart"></canvas>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>




<div class="container">
  <div class="row">
    <div class="col">
      <h4 align="center">Filtre des utilisateurs par date de naissance</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-inline mb-3 d-flex">
        <div class="form-group mr-2" style="width: 150px;">
          <label for="startDate">Start Date:</label>
          <input type="date" class="form-control form-control-sm" id="startDate" [(ngModel)]="startDate">
        </div>&nbsp;&nbsp;
        <div class="form-group mr-2" style="width: 150px;">
          <label for="endDate">End Date:</label>
          <input type="date" class="form-control form-control-sm" id="endDate" [(ngModel)]="endDate">
        </div>
      </div>
    </div>
  </div>
      <table class="table table-hover table-bordered rounded" >
        <thead>
          <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom de famille</th>
            <th scope="col">Email</th>
            <th scope="col">Date de naissance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">

            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.date_birth }}</td>
          </tr>
        </tbody>
        <tfoot>
          <button class="btn btn-primary" (click)="filterUsersByDate()">Filtrer</button>&nbsp;&nbsp;
          <button class="btn btn-secondary" (click)="resetFilter()">Rafraichir</button>
        </tfoot>
      </table>
